// ========================================================
// VARIABLES 
// ========================================================

$primary: #1a73e8;
$primary-light: lighten($primary, 10%);
$primary-dark: darken($primary, 10%);
$dark: #0c1445;
$light: #ffffff; 
$success: #3cb878;
$warning: #ffcf4a;


$font-family-base: 'Poppins', sans-serif;
$font-size-base: 1rem;
$headings-font-weight: 700;

// --- Navbar ---
$navbar-light-color: rgba(0, 0, 0, 0.8);
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;

// --- Shadow---
$box-shadow-base: 0 20px 40px rgba(0, 0, 0, 0.1);

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-600: #6c757d;
$gray-800: #343a40;